body {margin: 0; font-family: 'Roboto';background-image: url('background.jpeg'); background-size: cover; background-position: center; background-repeat: no-repeat;}
nav {background-color: #0F1035; padding: 1em;}
.navbar {display: flex; justify-content: space-between; align-items: center;}
.navbar ul {list-style-type: none; display: flex; margin: 0; padding: 0;}
.navbar ul li {margin-right: 20px;}
.navbar ul li:last-child {margin-right: 0;}
.navbar ul li a {text-decoration: none; color: #DCF2F1; font-size: 16px; padding: 10px 15px; transition: background-color 0.3s ease;} 
.navbar ul li a:hover {background-color: #3A6D8C; border-radius: 5px;}
.logo {font-size: 20px; color: white; font-weight: bold; text-decoration: none;} 
.content {padding: 20px; max-width: 800px; margin: auto; flex: 1;}
.overlay {background-color: rgba(0, 0, 0, 0.5); padding: 20px; border-radius: 8px; color: white; z-index: 2; position: relative;}
footer {background-color: #0F1035; color: #DCF2F1; text-align: center; padding: 20px; margin-top: 50px;}
footer .social-icons {margin: 10px 0;}
footer .social-icons a {text-decoration: none; color: #DCF2F1; font-size: 20px; margin: 0 10px; transition: color 0.3s ease;}
footer .social-icons a:hover {color: white;}
footer p {font-size: 14px;}
footer a {color: #DCF2F1; text-decoration: none;}
footer a:hover {text-decoration: underline;}
@media screen and (max-width: 600px) {.navbar ul {flex-direction: column;} .navbar ul li {margin-right: 0; margin-bottom: 10px;}}

.gallery .content {padding: 20px; max-width: 1200px; margin: auto; display: flex; flex-wrap: wrap; gap: 20px;} 
.photo {flex: 1 1 300px; max-width: calc(50% - 20px); overflow: hidden; position: relative; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); transition: transform 0.3s ease;} 
.photo img {width: 100%; height: auto; display: block; border-radius: 8px; transition: opacity 0.3s ease;} 
.photo:hover img {opacity: 0.9;} 
.photo:hover {transform: scale(1.05);} 
.description {position: absolute; bottom: 0; width: 100%; background-color: rgba(0, 0, 0, 0.7); color: white; text-align: center; padding: 10px; font-size: 14px; opacity: 0; transition: opacity 0.3s ease; border-radius: 0 0 8px 8px;}

.photo:hover .description {opacity: 1;}
.header {font-size: 4rem; font-weight: bold; text-align: center; font-family: 'Roboto', sans-serif; color: white; margin-top: 20px; padding: 20px 0; text-transform: uppercase; background: rgba(0, 0, 0, 0.6);}

<!--Formularz-->
.content form { display: flex; flex-direction: column; max-width: 600px; margin: 0 auto; background: rgba(255, 255, 255, 0.8); padding: 20px; border-radius: 8px;}
.content form label { margin-top: 10px; font-weight: bold; color: #0F1035;}
.content form input[type="text"],
.content form select,
.content form textarea { width: 100%; padding: 10px; margin-top: 5px; border: 1px solid #ddd; border-radius: 4px;}
.content form input[type="submit"] { margin-top: 20px; padding: 10px; background-color: #3A6D8C; color: white; border: none; border-radius: 4px; cursor: pointer; font-weight: bold;}
.content form input[type="submit"]:hover { background-color: #0F1035;}

#clock {color: #DCF2F1;}


